<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Turma Desenvolvimento de Aplicações Web</title>
        <meta charset="utf-8" />
    </head>
    <body>
       <nav>
       	<ul>
       		<li><a href='perfil.php'>Perfil</a></li>
       		<li><a href='editar.php'>Editar Perfil</a></li>
       		<li><a href='buscar.php'>Buscar</a></li>
       		<li><a href='participantes.php'>Participantes</a></li>
       		<li><a href='excluir.php'>Excluir</a></li>
			<li><a href='sair.php'>Sair</a></li>
       	</ul>
       </nav>
    </body>
</html>